.tarto {
  margin: auto;
  width: 60vw;

  h1 {
    color: $alapszin;
    margin-bottom: 1em;
  }
  
  p {
    text-align: justify;
  }
  
  ul {
    list-style-position: inside;
  }

  a {
    text-decoration: none;
    color: $linkszin;
  }

.leirat {
  h3 {
    color: $alapszin;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .piros {
    color: $piros;
  }

  .kod {
    border: 1px solid $alapszin;
    box-shadow: 2px 2px 2px;
  }

  code {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

}

